<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{estilosCSS/Estilo1.css}" rel="stylesheet">
    <title>Formulario de Compra</title>

</head>
<body>
<div class="container">
    <h1>Formulario de Compra</h1>
    <form th:action="@{/enviar}" method="post" th:object="${venta}">
        <div class="form-row">
            <div>
                <label for="nombre">Nombres:</label>
                <input type="text" th:field="*{nombre}" id="nombre">
                <span th:if="${#fields.hasErrors('nombre')}" class="error">Ingrese los nombres</span>
            </div>
        </div>

        <div class="form-row">
            <div>
                <label for="apellidos">Apellidos:</label>
                <input type="text" th:field="*{apellidos}" id="apellidos">
                <span th:if="${#fields.hasErrors('apellidos')}" class="error">Ingrese los Apellidos</span>
            </div>
        </div>

        <div class="form-row">
            <div>
                <label for="cedula">Cedula:</label>
                <input type="text" th:field="*{cedula}" id="cedula">
                <span th:if="${#fields.hasErrors('cedula')}" class="error">Ingrese la Cedula correctamente</span>
            </div>
        </div>

        <div class="form-row">
            <div>
                <label for="ingreso">Ingresos:</label>
                <input type="text" th:field="*{ingreso}" id="ingreso">
                <span th:if="${#fields.hasErrors('ingreso')}" class="ingreso">Ingrese un Ingreso</span>
            </div>
        </div>

        <div class="form-row">
            <div>
                <label for="telefono">Telefono:</label>
                <input type="text" th:field="*{telefono}" id="telefono">
                <span th:if="${#fields.hasErrors('telefono')}" class="telefono">Ingrese la Cedula correctamente</span>
            </div>
        </div>

        <div class="form-row">
            <div>
                <label for="pago">Metodo de pago:</label>
                <select th:field="*{pago}" id="pago">
                    <option th:each="p: ${pago}" th:value="${p}" th:text="${p}"></option>
                </select>
                <span th:if="${#fields.hasErrors('pago')}" class="error">Seleccione un campo</span>
            </div>
        </div>



        <div>
            <input type="submit" class="submit-button" value="Enviar">
        </div>
    </form>

    <div class="form-footer">

    </div>
</div>

</body>
</html>