<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{estilosCSS/Estilo3.css}" rel="stylesheet">
    <title>Venta de Vehículos</title>

</head>
<body>

<!-- Header -->
<header>
    <div class="logo">AutoVentas</div>
    <p>Encuentra tu coche ideal</p>
</header>

<!-- Navigation Bar -->
<nav>
    <a href="#inicio">Inicio</a>
    <a th:href="@{/formulario}">Formulario</a>
    <a href="#nosotros">Nosotros</a>
    <a href="#contacto">Contacto</a>
</nav>

<!-- Hero Section -->
<section class="hero-section" id="inicio">
    <h2>Los mejores coches al mejor precio</h2>
    <a href="#car-listings" class="cta-button">Ver Vehículos</a>
</section>

<!-- Featured Cars Section -->
<section id="vehiculos" class="car-listings">
    <div class="car-card">
        <img src="car1.jpg" alt="Coche 1" class="car-img">
        <div class="car-info">
            <h3>Chevrolet Camaro</h3>
            <p>Desde $30,000</p>
            <a href="" class="cta-button">Más Información</a>
        </div>
    </div>
    <div class="car-card">
        <img  alt="Coche 2" class="car-img">
        <div class="car-info">
            <h3>Ford Mustang</h3>
            <p>Desde $35,000</p>
            <a href="#" class="cta-button">Más Información</a>
        </div>
    </div>
    <div class="car-card">
        <img src="car3.jpg" alt="Coche 3" class="car-img">
        <div class="car-info">
            <h3>Toyota Corolla</h3>
            <p>Desde $20,000</p>
            <a href="#" class="cta-button">Más Información</a>
        </div>
    </div>
</section>


<footer>
    <p>&copy; 2025 AutoVentas | Todos los derechos reservados</p>
    <p>Contacto: ventas@autoventas.com</p>
</footer>

</body>
</html>
